@import "@/scss/globals/color";
@import "@/scss/globals/main_values";

.root {
  width: 100%;

  display: flex;
  flex-flow: column;
  gap: $gap-l1;
}

.header {
  display: flex;
  justify-content: space-between;

  .page_title {
    font-size: $font-size-xxl;
    font-weight: $weight;
  }
}

.add_button {
  width: max-content;
  display: flex;
  gap: $gap-xxs;
  align-items: center;
}

.events_section {
  display: flex;
  flex-direction: column;
  gap: $gap-xl;
}

.one_event_section {
  display: flex;
  flex-direction: column;
  gap: $gap-xxxs;
}

.one_section_header {
  font-size: $font-size-xxl;
  font-weight: $weight;
}

.one_section_ul {
  display: grid;

  .one_section_li {
    * {
      cursor: pointer;
    }

    padding: $filters-padding;

    display: grid;
    grid-template-columns: min-content auto;
    column-gap: $gap-15;
    align-items: center;

    .one_section_img {
      width: $one-event-categories-width;
      border-radius: $radius-xm;
      object-fit: cover;
    }

    .one_section_data {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: $gap-xxxs;

      .one_section_data_title {
        font-size: $font-size-l0;
        font-weight: $weight;
      }

      .one_section_data_date {
        color: $grey-date;
      }
    }
  }
}