@import "@/scss/globals/main_values";
@import "@/scss/globals/color";

.img_section {
  height: $hover-section-width;
}

.img {
  position: absolute;
  left: 0;
  width: 100vw;
  height: $hover-section-width;
  object-fit: cover;
}

.root {
  width: 100%;
  padding: $padding-16-48;
  display: flex;
  flex-direction: column;
  gap: $gap-l1;
}

.header_section {
  display: flex;
  flex-direction: column;
  gap: $gap-xl;
}

.event_data {
  display: flex;
  flex-direction: column;
  gap: $gap-xxxxxs;

  .title {
    font-size: $font-size-xxl;
    font-weight: $weight;

    display: flex;
    flex-wrap: wrap;
  }

  .date {
    font-size: $font-size-l0;
    color: $grey-border-main;
  }
}

.buttons_section {
  display: flex;
  gap: $gap-s;
}

.description_section {
  display: flex;
  flex-wrap: wrap;
  word-break: break-word;
}

.button {
  width: max-content;

  display: flex;
  gap: $gap-xxs;
  align-items: center;
}
