@import "@/app/scss/globals/color";

$font-family: "Roboto", sans-serif;

$font-size: 18px;
$title-size: 24px;

$title-auth-size: 36px;

$button-height: 41px;
$button-radius: 6px;

$input-height: 48px;
$input-radius: 6px;
$input-padding: 0 16px;

$border-base: 1px solid $black-color;




