@import "./color";

$default-width: 1065px;

$font-family: "Roboto", sans-serif;

$font-size: 18px;
$font-size-footer: 14px;
$title-size: 24px;

$title-auth-size: 36px;

$profile-name-size: 32px;
$profile-name-weight: 600;

$button-height: 41px;
$button-radius: 6px;
$button-weight: 600;
$button-padding: 9px 26px;
$button-font-size: 19px;

$input-height: 48px;
$input-radius: 6px;
$input-padding: 0 16px;

$border-base: 1px solid $black-color;
$border-button: 2px solid $black-color;
$border-white: 5px solid $white-color;




