@import '@/app/scss/globals/color';
@import '@/app/scss/globals/main_values';

@import url('https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.title {
  font-family: 'Fahkwang', sans-serif;
  font-size: $title-size;
}

.main_button {
  font-weight: $button-weight;

  background-color: $black-color;
  color:$white-color;

  padding: $button-padding;

  font-size: $button-font-size;
}

.no_main_color {
  font-weight: $button-weight;

  border: $border-button;
}