@import "@/scss/globals/main_values";

$height: 325px;

.ul {
  display: grid;
  gap: $gap-xxxl;
}

.one_action {
  height: $height;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date_section {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: $gap-xs;

  div {
    font-size: $font-size-xxxxl;
  }
}