@import "@/scss/globals/main_values";
@import "@/scss/globals/color";
@import "@/scss/globals/pages";

$banner-height: 370px;

.root {
  width: 100%;
  padding: $padding-64;
  display: flex;
  flex-flow: column;
  gap: $gap-xl;
}

.buttons_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul {
  width: $width - 2 * $padding-24;
  display: flex;
  gap: $gap-l1;
  overflow-x: hidden;
}

.ul_mobile {
  display: none;
}

.main {
  display: flex;
  flex-flow: column;
  gap: $gap-s
}

.date {
  font-size: $font-size-xxxxl;
  font-family: "Involve", sans-serif;
}

.banner_img {
  width: $width - 2 * $padding-24;
}

@media screen and (max-width: $width + 24px){

  .ul {
    max-width: calc(100vw - 2 * 24px);
    display: flex;
    gap: $gap-l1;
    overflow-x: hidden;
  }

  .banner_img {
    width: calc(100vw - 2 * 24px);
  }

  .date {
    font-size: $font-size-xxxl;
  }
}

@media screen and (max-width: 650px) {
  .date {
    font-size: $font-size-l;
  }
}

@media screen and (max-width: 500px) {
  .date {
    font-size: $font-size-l0;
  }
}

@media screen and (max-width: 450px) {
  .date {
    font-size: $font-size-l22;
  }
}

@media screen and (orientation: portrait){
  .ul {
    display: none;
  }

  .ul_mobile {
    max-width: calc(100vw - 2 * 24px);
    display: flex;
    gap: $gap-l1;
    overflow-x: hidden;
  }

  .root {
    padding: $filters-padding;
  }
}