@import "@/scss/globals/main_values";
@import "@/scss/globals/pages";

.root {
  padding: $padding-64;
  display: flex;
  flex-flow: column;
  gap: $gap-xl;
}

.header_arrows {
  font-family: 'New Mexika', sans-serif;
  display: flex;
  justify-content: space-between;

}

.header {
  font-family: 'New Mexika', sans-serif;
  font-size: $font-size-64;
  text-align: center;

  display: grid;
  align-self: center;
}

@media screen and (orientation: portrait){
  .header {
    font-size: $font-size-xxxxl;
  }
}

@media screen and (max-width: 650px) {
  .header {
    font-size: $font-size-xxxl;
  }
}

@media screen and (max-width: 500px) {
  .header {
    font-size: $font-size-l;
  }
}

@media screen and (orientation: portrait){
  .root {
    padding: $padding-32;
  }
}