@import "@/scss/globals/main_values";

$height: 600px;

.ul {
  display: flex;
  gap: $gap-xxxl;

  width: $width;
  overflow: hidden;
}

.root_oneWork {
  display: flex;
  flex-flow: column;
  gap: $gap-xl;

  .one_work_img {
    height: $height;
    max-width: $width;
    border-radius: $radius-xm;
  }

  .one_work_data {
    display: flex;
    flex-flow: column;
    gap: $gap-s;
  }

  .one_work_names {
    display: flex;
    flex-flow: column;
    gap: $gap-xxxxxs;

    .one_work_weight {
      font-weight: $weight;
    }

    div {
      font-size: $font-size-xxl;
    }
  }

  .one_work_price {
    font-size: $font-size-l;
    font-weight: $weight;
    letter-spacing: 2px;
  }
}