@import "@/scss/globals/main_values";

.root {
  display: flex;
  flex-flow: column;
  gap: $gap-xxxl;

  .info_section {
    display: flex;
    justify-content: space-between;

    .one_info {
      display: flex;
      flex-flow: column;
      gap: $gap-xxs;

      text-align: center;

      .icon {
        display: none;
      }
    }
  }
}

.non {
  visibility: hidden;
}

@media screen and (max-width: $max-device-width){
  .root {
    gap: $gap-l2;

    .info_section {
      flex-flow: column;

      img {
        width: $img-size;
      }

      .one_info {
        display: flex;
        flex-flow: row;
        align-items: center;

        .icon {
          display: block;
        }
      }
    }
  }
}