@import "@/scss/globals/color";
@import "@/scss/globals/main_values";

$title-max-height: 84px;

.page_modal_window {
  position: fixed;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: grid;
  justify-items: center;
  align-items: center;

  z-index: $z-index-up;
}

.root {
  width: $root-width-window;
  padding: $root-padding-window;
  border-radius: $radius-m;

  display: grid;
  gap: $gap-s;

  background-color: $white-color;

  z-index: $z-index-menu;

  .cancel {
    width: min-content;
    height: min-content;

    display: flex;
    justify-self: end;
  }

  .title {
    min-height: min-content;
    max-height: $title-max-height;

    padding: 0;
    border: none;

    font-size: $font-size-l;
    font-weight: $weight;
  }

  .textarea {
    border: none;
    resize: none;
    height: $textarea-height-2;

    padding-right: 5px;
  }

  .buttons_section {
    display: flex;
    justify-content: space-between;

    .button_images {
      display: flex;
      gap: $gap-xxs;
      align-items: center;

      padding: 0;
    }
  }
}

.photo_section {
  display: flex;
  gap: $gap-xxxs;

  .onePhoto_section {
    display: grid;
  }
}
.onePhoto {
  width: $one-photo-size;
  height: $one-photo-size;
  object-fit: cover;

  border-radius: $elements-radius;
}

.delete_button {
  position: absolute;

  display: grid;
  justify-self: end;

  padding-right: 10px;
}