@import "@/scss/globals/color";

$root-gap: 15px;
$photo-section-width: 705px;
$photo-section-gap: 24px;

$art-info-gap: 24px;
$art-info-header-gap: 4px;
$art-info-header-artist-size: 24px;
$art-info-header-artist-weight: 600;

$art-price-size: 24px;
$art-price-weight: 600;

$more-info-noimp: 16px;

$details-section-gap: 32px;

$tags-section-gap: 8px;
$tag-radius: 6px;
$tag-padding: 4px 16px;

$footer-gap: 32px;
$footer-button-gap: 8px;

.root {
  height: 100%;

  display: grid;
  grid-template-columns: min-content auto;
  gap: $root-gap;
}

.photo_section {
  width: $photo-section-width;
  height: 80vh;

  display: flex;
  flex-flow: column;
  gap: $photo-section-gap;

  overflow-x: hidden;
  overflow-y: auto;

  .one_photo {
    width: 100%;
  }
}

.photo_section::-webkit-scrollbar {
  width: 0;
}

.art_info {
  width: 100%;

  display: flex;
  flex-flow: column;
  gap: $art-info-gap;

  .art_info_header {
    display: flex;
    flex-flow: column;
    gap: $art-info-header-gap;

    .art_artist {
      font-size: $art-info-header-artist-size;
      font-weight: $art-info-header-artist-weight;
    }

    .art_name {
      font-style: italic;
    }
  }

  .art_price {
    font-size: $art-price-size;
    font-weight: $art-price-weight;
  }

  .add_to_cart {
    width: 100%;
    text-align: center;
  }

  .details_section {
    display: grid;
    grid-template-columns: 1.1fr 2fr;
    gap: $details-section-gap;
  }

  .details_one_section {
    display: grid;
    gap: 8px;
  }

  .more_info_noimp {
    font-size: $more-info-noimp;
    color: $grey-filter-price-border;
  }

  .more_info_noimp_text {
    font-size: $more-info-noimp;
  }

  .info_text {
    font-size: $more-info-noimp;
  }

  .tags_section {
    display: flex;
    flex-wrap: wrap;
    gap: $tags-section-gap;

    .tag {
      background-color: $grey_bg-settings;
      border-radius: $tag-radius;
      padding: $tag-padding;

      color: $grey-tag;
    }
  }
}

.underline {
  font-size: $more-info-noimp;
  text-decoration: underline;
}

.footer {
  display: flex;
  gap: $footer-gap;

  button {
    font-size: $more-info-noimp;

    display: flex;
    gap: $footer-button-gap;
    align-items: center;
  }
}