@import "@/scss/globals/color";
@import "@/scss/globals/main_values";

$one-post-photo-height: 90%;

.root {
  display: flex;
  flex-flow: column;
  gap: $gap-l;
}

.one_post {
  display: flex;
  flex-flow: column;
  gap: $gap-s;

  .one_post_img {
    cursor: pointer;
    width: 100%;
  }

  .one_post_title {
    font-size: $font-size-l;
    font-weight: $weight;
  }

  .one_post_date {
    display: grid;
    color: $grey-date;

    text-align: end;
  }
}

.one_post_opened_photo {
  position: relative;
  height: $one-post-photo-height;
  object-fit: cover;

  z-index: $z-index-menu;
}

.border {
  border-bottom: 1px solid $grey_border;
  padding-bottom: $padding-6;
}

.button_close {
  position: absolute;
  display: grid;
  justify-self: end;
  align-self: start;

  padding: $gap-xxl2 $gap-xxl2 0 0;

  z-index: $z-index-menu;
}

.button_next {
  position: absolute;
  display: grid;
  justify-self: end;

  padding-right: $gap-xxl2;

  z-index: $z-index-menu;
}

.button_prev {
  position: absolute;
  display: grid;
  justify-self: start;

  padding-left: $gap-xxl2;

  z-index: $z-index-menu;
}