@import "@/scss/globals/main_values";

$padding: 150px 0 150px 0;

.root {
  padding: $padding;
  max-width: $photo-section-width;
  display: grid;
  justify-self: center;
  align-self: center;

  justify-items: center;

  gap: $gap-xl;

  img {
    width: $section-action-img-width;
  }
}

.main {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: $gap-s;

  p {
    text-align: center;
  }

  button {
    width: max-content;
  }
}

.modal_window_main {
  display: flex;
  flex-flow: column;
  gap: $gap-xl;

  .set_data {
    display: flex;
    flex-flow: column;
    gap: $gap-s;
  }
}