
$root-column-gap: 15px;
$root-row-gap: 36px;

$one-work-width: 345px;
$one-work-gap: 12px;
$one-work-names_gap: 4px;
$one-work-name_weight: 600;
$one-work-img-radius: 10px;

.root {
  width: 100%;

  display: flex;
  flex-wrap: wrap;

  column-gap: $root-column-gap;
  row-gap: $root-row-gap;
}

.one_work {
  * {
    cursor: pointer;
  }

  width: $one-work-width;

  display: flex;
  flex-flow: column;
  gap: $one-work-gap;

  .one_work_img {
    width: 100%;

    border-radius: $one-work-img-radius;
  }

  .one_work_names {
    display: flex;
    flex-flow: column;
    gap: $one-work-names_gap;
  }

  .one_work_weight {
    font-weight: $one-work-name_weight;
  }
}

.create_art_button {
  display: none;
}

@media screen and (orientation: portrait) {
  .root {
    display: grid;
  }
  .one_work {
    width: 100%;
  }

  .create_art_button {
    position: fixed;

    display: grid;
    justify-self: end;
    bottom: 100px;
    right: 10px;

    img {
      width: 100px;
    }

  }
}

@media screen and (min-width: 500px) {
  .create_art_button {
    img {
      width: 90px;
    }

  }
}

@media screen and (max-width: 500px) {
  .create_art_button {
    img {
      width: 70px;
    }

  }
}