@import "@/app/scss/globals/main_values";

$cover-height: 250px;

$data-gap: 12px;

$avatar-radius: 15px;
$avatar-size: 200px;
$avatar-top: -100px;

$subscriber-section-gap: 15px;

$button-bell-width: 43px;

$bell-width: 23px;
$bell-height: 25px;


.root {
  width: 100%;
  display: flex;
  flex-flow: column;

  .cover_section {
    height: $cover-height;

    .cover {
      width: 100%;
      height: $cover-height;

      object-fit: cover;
    }
  }


  .profile_data {

    display: grid;
    gap: $data-gap;

    justify-self: center;
    justify-items: center;

    .avatar_section {
      height: $avatar-size - 94px;

      .avatar {
        position: relative;
        top: $avatar-top;

        width: $avatar-size;
        height: $avatar-size;

        border: $border-white;
        border-radius: $avatar-radius;

        object-fit: cover;
      }
    }

    .name {
      font-size: $profile-name-size;
      font-weight: $profile-name-weight;
    }

    .subscriber_section {
      display: flex;
      gap: $subscriber-section-gap;

      .button_bell {
        width: $button-bell-width;

        display: grid;
        justify-content: center;
        align-content: center;

        .bell_image {
          width: $bell-width;
          height: $bell-height;
        }
      }
    }
  }
}