@import '@/app/scss/globals/main_values';

$rout-top: 206px;
$root-height: 96px;
$root-padding: 32px 0 16px 0;

$nav-buttons-font-size: 24px;

.root {
  height: $root-height;
  padding: $root-padding;

  display: flex;

  li {
    width: 100%;

    display: flex;
    justify-content: center;
  }

  .button {
    font-size: $nav-buttons-font-size;
  }

  .active {
    border-bottom: $border-base;
  }
}