@import "@/scss/globals/main_values";

$one-user-width: 234px;
$photo-max-width: 796px;

.root {
  width: 100%;
  padding: $padding-l;

  display: flex;
  flex-flow: column;
  gap: $gap-xxl;
}

.header {
  display: flex;
  justify-content: space-between;

  .page_title {
    font-size: $font-size-xxl;
  }
}

.sort_section {
  display: flex;

  align-items: end;

  .select {
    border: none;

    height: min-content;
    width: min-content;

    font-weight: $weight;
  }
}

.users {
  width: 100%;
  display: flex;
  flex-flow: column;

  gap: $gap-xxxl;

  .one_user {
    position: relative;
    cursor: pointer;

    display: grid;
    grid-template-columns: $one-user-width auto;
    column-gap: 35px;

    .user_data {
      width: $one-user-width;

      display: grid;
      grid-template-rows: repeat(3, min-content);
      gap: $gap-xs;

      justify-items: center;

      .one_user_avatar {
        cursor: pointer;
        width: $img-size-big;
        height: $img-size-big;

        border-radius: $radius-big;

        img {
          cursor: pointer;
          width: 100%;
          height: 100%;
          object-fit: cover;

          border-radius: $radius-big;
        }
      }

      .one_user_name {
        cursor: pointer;
        font-size: $font-size-xxl;
        text-align: center;

        word-break: break-all;
      }
    }

    .one_user_photo {
      scroll-behavior: smooth;
      max-width: $photo-max-width;
      display: flex;
      gap: $gap-xxxs;

      overflow: hidden;

      .onePhoto {
        cursor: pointer;

        width: $img-size-biggest;
        height: $img-size-biggest;
        object-fit: cover;

        border-radius: $radius-s;
      }
    }
  }
}

.next_icon {
  position: absolute;
  top: $img-size-biggest / 2 - $padding-20;
  right: $gap-xxs;
}

.back_icon {
  position: absolute;
  top: $img-size-biggest / 2 - $padding-20;
  margin-left: $gap-xxs;
}