@import "@/scss/globals/color";
@import "@/scss/globals/main_values";

$nav-height-mobile: 65px;

$account_various-width: 195px;
$account_various-height: 284px;

.account_section {
  position: absolute;

  top: $nav-height-mobile;
  right: $account_various-width;

  z-index: $z-index-up;


  .account_various {
    position: absolute;
    width: $account_various-width;



    box-shadow: 0 4px 10px 0 $shadow-color;
    border-radius: 6px;

    padding: $padding-3;

    background-color: $white-color;


    .account_nav {
      height: 100%;

      display: grid;
      align-content: space-between;

      gap: 10px;

      button {
        height: min-content;
      }
    }

    .account_data {
      height: min-content;
      display: grid;
      grid-template-columns: $nav-avatar-size auto;
      column-gap: $gap-xxs;


      .avatar {
        cursor: pointer;

        width: $nav-avatar-size;
        height: $nav-avatar-size;
        object-fit: cover;

        border-radius: $elements-radius;
      }

      .name_section {
        width: 100%;
        word-break: break-all;
      }
    }
  }
}

@media screen and (orientation: portrait) {
  .account_section {
    z-index: $z-index-menu;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: $white-color;

    .account_various {
      box-shadow: none;
      width: 100%;

      display: grid;
      gap: 24px;

      .account_nav {
        display: flex;
        flex-flow: column;
        gap: 24px;
      }
      .avatar {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
    }

    .name, .button {
      cursor: pointer;
      font-size: 20px;
    }
  }
}

.buttonAdd {
  height: min-content;
  display: flex;
  align-items: center;
  gap: $gap-xxxxxs2;
}

.plus {
  color: $grey-date;
  width: min-content;
  height: min-content;
  font-size: $font-size-l;
}

.artist_button {
  font-size: 1em;
  font-weight: $weight-400;
}