@import "@/scss/globals/color";
@import "@/scss/globals/main_values";

$nav-height-mobile: 65px;

$account_various-width: 188px;
$account_various-height: 284px;
$account_various-padding: 15px;

$account_various-data-gap: 10px;

$avatar-size: 50px;
$avatar-radius: 6px;

.account_section {
  position: absolute;

  top: $nav-height-mobile;
  right: $account_various-width;

  z-index: $z-index-up;


  .account_various {
    position: absolute;
    width: $account_various-width;

    border: $border-base;

    padding: $account_various-padding;

    background-color: $white-color;


    .account_nav {
      height: 100%;

      display: grid;
      align-content: space-between;

      gap: 10px;

      button {
        height: min-content;
      }
    }

    .account_data {
      height: min-content;
      display: flex;
      gap: $account_various-data-gap;


      .avatar {
        cursor: pointer;

        width: $avatar-size;
        height: $avatar-size;
        object-fit: cover;

        border-radius: $avatar-radius;
      }
    }
  }
}

@media screen and (max-width: 830px) {
  .account_section {
    z-index: $z-index-menu;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: $white-color;

    .account_various {
      border: none;
      width: 100%;

      display: grid;
      gap: 24px;

      .account_nav {
        display: flex;
        flex-flow: column;
        gap: 24px;
      }
      .avatar {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
    }

    .name, .button {
      font-size: 20px;
    }
  }
}