@import "@/scss/globals/color";
@import "@/scss/globals/main_values";

$root-height: 70px;
$root-height-mobile: 97px;
$root-max-width: 1065px;
$github-image-size: 30px;

.root {
  padding: $padding-4;

  height: $root-height;
  width: 100%;

  display: flex;
  justify-self: center;
  align-self: end;

  justify-content: space-between;

  border-top: $border-base;

  .nav {
    display: flex;
    column-gap: $gap-xxl;

    flex-wrap: wrap;

    align-items: center;

    li, a {
      font-size: $font-size-xs;
    }


  }

  .github_section {
    padding-left: 30px;

    display: grid;
    align-items: center;

    .github_image {
      width: $github-image-size;
      height: $github-image-size;

      object-fit: cover;
    }
  }
}

@media screen and (max-width: 580px){
  .root {
    height: auto;

    .nav {
      column-gap: $gap-l1;
      row-gap: $gap-xxxxxs;

      .first {
        width: 100%;
      }

      li {
        width: max-content;
      }
    }
  }
}

