@import '@/scss/globals/color';
@import '@/scss/globals/main_values';

.root {
  display: flex;
  flex-flow: column;
  gap: $gap-s;
}

.cancel {
  display: flex;
  gap: $gap-xxs;
  align-items: center;

  img {
    height: 25px;
    width: 25px;
  }
}

.header {
  font-size: $font-size-l;
  font-weight: $weight;
}

.ul {
  display: grid;
  row-gap: $gap-s;
}

.grey_bgc {

  * {
    cursor: pointer;
  }

  background-color: $grey_bg-settings;
  border-radius: 6px;
  padding: 16px;

  display: flex;
  flex-flow: column;
  gap: 16px;

  button {
    height: $icon-height;
  }
}

.type_section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (orientation: portrait) {
  .header {
    font-size: $font-size-l0;
  }
}