@import "@/scss/globals/color";
@import "@/scss/globals/main_values";

$root-height: 165px;
$hover-section-width: 400px;

.root {
  min-height: $root-height;
  position: relative;

  width: 100%;
  display: grid;
  grid-template-columns: min-content auto max-content;
  column-gap: $gap-s;

  .data_root {
    display: grid;
    column-gap: $gap-s;
  }

  .data_main {
    display: grid;
    grid-template-columns: auto max-content;
    gap: $gap-s;
  }

  .img {
    width: $img-size-medium;
    object-fit: cover;
  }

  .data_section {
    display: grid;
  }

  .art_data {
    position: relative;
    display: flex;
    flex-flow: column;
    gap: $gap-xxxs;
  }

  .price_section {
    height: min-content;

    display: grid;
    justify-items: end;
  }

  .name {
    font-weight: $weight;
  }

  .text {
    font-size: $font-size-l;
  }

  .section {
    padding: $padding-16-0-0-0;
    display: grid;
    align-self: end;
  }

  .anonymous_section {
    display: flex;
    gap: $gap-xs;
    align-items: center;

    .anonymous_section_add {
      display: flex;
      gap: $gap-xxxxs;

      button {
        height: min-content;
      }

      div, img {
        display: grid;
        align-self: center;
      }
    }
  }
}

.hover_section {
  position: absolute;

  width: $hover-section-width;

  padding: $section-padding-s;
  border-radius: $radius-m;

  background-color: $white-color;
  box-shadow: 0 0 10px 0 $shadow-color;
  z-index: $z-index-up;

  .add_text {
    font-size: $gap-s;
    line-height: 20px;
  }
}

.checkbox {
  position: absolute;
  display: grid;
  align-self: start;
  justify-self: start;
}

@media screen and (orientation: portrait) {
  .root {

    .text, .name {
      font-size: $font-size;
    }

    .img {
      width: $one-photo-size;
      object-fit: cover;
    }

    .data_main {
      display: flex;
      flex-flow: column;

      gap: $gap-s;
    }

    .delete_img {
      width: $img_button-width-35;
    }

    .price_section {
      height: min-content;

      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}