
$root-gap: 15px;

$img-width: 255px;

$art-data-gap: 5px;

$font-size: 24px;

.root {
  width: 100%;
  display: grid;
  grid-template-columns: min-content auto max-content;
  column-gap: $root-gap;

  .img {
    width: $img-width;
    object-fit: cover;
  }

  .art_data {
    display: flex;
    flex-flow: column;
    gap: $art-data-gap;
  }

  .price_section {
    height: min-content;

    display: grid;
    justify-items: end;
  }

  .text {
    font-size: $font-size;
  }
}