@import "@/scss/globals/color";
@import "@/scss/globals/main_values";

.page_modal_window {
  position: fixed;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: grid;
  justify-items: center;
  align-items: center;

  z-index: $z-index-up;
}

.modal_window {
  width: $root-width-window;
  padding: $root-padding-window;
  border-radius: $radius-m;

  display: grid;

  align-items: center;

  background-color: $white-color;

  z-index: $z-index-menu;
}

.root {
  display: grid;
  gap: $gap-s;

  .header {
    font-size: $font-size-l;
    font-weight: $weight;

    text-align: center;
  }

  .main_p {
    font-weight: $weight;
  }

  .footer_buttons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: $gap-s;

    button {
      width: 100%;
    }
  }
}

@media screen and (orientation: portrait){
  .modal_window {
    width: 100%;
    height: 100%;
  }
}