@import '@/scss/globals/color';
@import '@/scss/globals/main_values';

$root-gap: 35px;

$account-main-gap: 64px;

$address-root-gap: 24px;
$address-pay-main-gap: 16px;
$address-pay-main-padding: 16px;
$address_add_gap: 8px;
$address-gap: 10px;

$section-gap: 16px;

$section-header-weight: 600;
$section-header-font-size: 24px;

$section-form-padding: 0 16px;
$section-form-gap: 16px;

$auth-data-height: 56px;


$inputs-gap: 35px;
$inputs-gap-row: 24px;

$button-font-size: 20px;

$new-section-gap: 16px;
$new-section-header-gap: 10px;
$new-form-header-size: 24px;
$new-form-header-weight: 600;

.root {
  display: flex;
  flex-flow: column;
  gap: $root-gap;
}

.main {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: $account-main-gap;
}

.address_root {
  display: flex;
  flex-flow: column;
  gap: $address-root-gap;
}

.address_pay_main {
  padding: $address-pay-main-padding;

  width: 100%;
  display: flex;
  flex-flow: column;
  gap: $address-pay-main-gap;

  input:disabled {
    background-color: $white-color;
    color: $grey_border;
  }
}

.address_header {
  display: flex;
  justify-content: space-between;
}

.add_address {
  display: flex;
  gap: $address_add_gap;
  align-items: center;
}

.address {
  display: flex;
  gap: $address-gap;
}

.one_address {
  display: flex;
  flex-flow: column;
  gap: $address-pay-main-gap;
}

.footer_one {
  display: flex;
  justify-content: space-between;
  align-items: center;

  section {
    display: flex;
    gap: $section-form-gap;
  }

  .disabled {
    background-color: $grey-date;
    color: $white-color;
  }
}

.card_data {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.section {
  display: flex;
  flex-flow: column;
  gap: $section-gap;

  .section_header {
    font-size: $section-header-font-size;
    font-weight: $section-header-weight;
  }

  .section_form {
    padding: $section-form-padding;

    display: flex;
    flex-flow: column;
    gap: $section-form-gap;

    .save_button {
      width: min-content;
    }
  }

  .footer_buttons {
    padding: $section-form-padding;

    width: max-content;

    display: flex;
    flex-flow: column;
    gap: $section-form-gap;
    justify-content: start;


    .button {
      text-align: start;
    }
  }
}

.auth_data {
  height: $auth-data-height;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input_section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: $inputs-gap;
}

.button {
  font-size: $button-font-size;
}

.delete_button {
  color: $red-color;
}

.new_section {
  padding: $section-form-padding;

  display: flex;
  flex-flow: column;
  gap: $new-section-gap;

  .new_section_header {
    display: flex;
    justify-content: start;
    align-items: center;

    gap: $new-section-header-gap;
  }

  button {
    width: min-content;
  }
}

.section_name {
  font-size: $new-form-header-size;
  font-weight: $new-form-header-weight;
}

.message {
  color: $red-color;
}

.root_mobile {
  display: none;
}

.back {
  display: none;
}

.p {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis
}

@media screen and (max-width: $max-device-width) {
  .root {
    display: none;
  }

  .root_mobile {
    display: flex;
    flex-flow: column;
  }

  .back {
    display: flex;
    gap: 10px;

    align-items: center;
  }

  .input_section {
    display: flex;
    flex-flow: column;
    gap: $inputs-gap-row;
  }

  .icon {
    width: 21px;
    height: 11px;
  }


  .section {
    .section_form {
      .save_button {
        width: 100%;
      }
    }
  }

  .card_data {
    width: 240px;
  }

  .input_section {
    gap: $address-pay-main-gap;
  }

  .footer_one {
    display: grid;
    gap: 16px;
    justify-items: start;

    section {
      width: 100%;

      display: flex;
      flex-flow: column;
    }
  }
}

.grey_bgc {
  background-color: $grey_bg-settings;
  border-radius: 6px;
  padding: 16px;

  display: flex;
  flex-flow: column;
  gap: 16px;

  button {
    height: min-content;
  }
}



