$white-color: #FFFFFF;

$grey: #707070;
$grey-light: #E8E8E8;
$grey-date: #828282;
$grey_border: #BFBFBF;
$grey_bg-settings: #F4F4F4;
$grey-status: #D9D9D9;
$grey-bg:#2B29311A;
$grey-bg-dark:#2B29314D;
$grey-filter-price-border: #616161;
$grey-tag: #38383A;
$grey-who: #2B293166;
$grey-border-main: #616161;

$red-color: #EA3B3B;

$black-color: #0F0F10;

$shadow-color: #2B293126;

$active: #3442BD;