@import '@/scss/globals/color';
@import '@/scss/globals/main_values';

* {
  font-size: $font-size;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: default;

  font-family: $font-family;
}

html,
body {
  font-size: $font-size;

  overflow-x: hidden;

  background-color: $white-color;
}

button {
  cursor: pointer;
  text-align: center;

  background-color: transparent;
  border: none;

  height: $button-height;
  font-size: $font-size-s;
  border-radius: $elements-radius;

  * {
    cursor: pointer;
  }
}

input, textarea {
  cursor: text;
}

input, select {
  padding: $input-padding;
  height: $input-height;
  border-radius: $elements-radius;

  border: 1px solid $grey;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

textarea {
  resize: vertical;
  padding: $textarea-padding;
}

textarea:focus {
  outline: none;
}

p {
  margin: 0;
}

li {
  list-style-type: none;
}

ol {
  padding: 0;
  margin: 0;
}

.custom-select {
  &__control {
    height: $input-height !important;
    padding: $input-padding !important;
    border: 1px solid $grey !important;
    border-radius: $elements-radius !important;
    box-shadow: none !important;
  }

  &__value-container, &__input-container {
    padding: 0 !important;
    margin: 0 !important;
  }

  &__indicators {
    display: none !important;
  }

  &__menu {
    border-radius: $elements-radius !important;
  }

  &__menu-list::-webkit-scrollbar {
    width: 5px !important;
  }

  &__menu-list::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
  }

  &__menu-list::-webkit-scrollbar-thumb {
    background: #888 !important;
    border-radius: 2px !important;
  }

  &__option {
    background: none !important;
  }

  &__option:hover {
    background-color: $grey-light !important;
  }
  &__option--is-selected {
    color: $black-color !important;
    background: none !important;
  }
}

.custom-select:focus {
  border: none !important;
}

.scrollBar::-webkit-scrollbar {
  width: 5px;
}

.scrollBar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollBar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

html::-webkit-scrollbar {
  width: 0;
}




