@import "./color";

$font-family: "Roboto", sans-serif;

//width
$bell-width-mobile: 19px;
$img-size: 20px;
$bell-width: 23px;
$img_button-width: 25px;
$nav-avatar-size: 50px;
$art-data-img-size: 80px;
$one-photo-size: 100px;
$img-size-medium: 165px;
$img-size-big: 200px;
$artist-photo-size: 245px;
$cover-height: 250px;
$img-size-biggest: 307px;
$one-work-width: 344px;
$hover-section-width: 400px;
$section-action-img-width: 500px;
$section-main-data-img-size: 510px;
$photo-section-width: 705px;
$modal-width: 736px;
$root-width-window: 800px;
$max-device-width: 830px;
$width: 1065px;
$width-padding: 1113px;

//height
$input-height-small: 19px;
$bell-height-mobile: 20px;
$icon-height: 25px;
$button-height: 41px;
$input-height: 48px;
$textarea-height: 107px;
$section-action-img-height: 150px;
$textarea-height-2: 260px;

// font-size
$font-size: 20px;
$font-size-xxxs: 0.6em; // 14px
$font-size-xxs: 0.7em; // 15px
$font-size-xs: 0.8em; // 16px
$font-size-s: 0.9em; // 18px
$font-size-m: 0.95em; // 19px
$font-size-l0: 1.2em; // 24px
$font-size-l: 1.4em; // 28px
$font-size-xxl: 1.6em; // 32px
$font-size-xxxl: 1.8em; // 36px
$font-size-xxxxl: 2.4em; // 48px
$font-size-64: 3.2em; // 64px

// font-weight
$weight: 600;
$weight-700: 700;
$weight-400: 400;

//radius
$elements-radius: 6px;
$radius-s: 8px;
$radius-xm: 10px;
$radius-m: 12px;
$radius-big: 15px;
$radius-20: 20px;
$radius-48: 48px;

// padding
$padding-12: 12px;
$padding-3: 15px;
$section-padding-s: 16px;
$padding-20: 20px;
$padding-24: 24px;
$root-padding-window: 32px;
$auth-padding: 35px;
$padding-48: 48px;

$input-padding: 0 16px;
$main-padding: 0 24px;
$padding-2: 4px 16px;
$padding-1: 6px 16px;
$search-padding: 8px 16px;
$button-padding: 9px 24px;
$textarea-padding: 10px 16px;
$padding-7: 12px 0;
$padding-8: 12px 16px;
$padding-12-32: 12px 32px;
$filters-padding: 16px 0;
$padding-filters: 24px 48px;
$padding-l: 35px 0;
$padding-5: 45px 0;
$padding-64: 64px 0;

$padding-4: 15px 0 25px 0;
$padding-s: 16px 0, 48px 0;
$padding-6: 32px 0 16px 0;


//gap
$gap-xxxxxs: 4px;
$gap-xxxxxs2: 5px;
$gap-xxxxs: 6px;
$gap-xxxs: 8px;
$gap-xxs: 10px;
$gap-xs: 12px;
$gap-s: 16px;
$gap-l1: 24px;
$gap-l: 25px;
$gap-l2: 30px;
$gap-xl: 32px;
$gap-xxl: 35px;
$gap-xxl2: 45px;
$gap-xxxl: 48px;
$gap-xxxxl: 50px;
$gap-xxxxxl: 64px;

// border
$border-base: 1px solid $black-color;
$border-button: 2px solid $black-color;
$border-white: 5px solid $white-color;

$shadow: 0 0 10px 0 $shadow-color;

//z-index
$z-index-menu-top: 30;
$z-index-menu: 20;
$z-index-up: 10;
$z-index-middle: 5;
$z-index-low: 1;




