@import '@/scss/globals/color';
@import '@/scss/globals/main_values';
@import '@/scss/globals/globals';

@import url('https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.title {
  font-family: 'Fahkwang', sans-serif;
  font-size: $title-size;
}

.main_button {
  font-weight: $button-weight;

  background-color: $black-color;
  color:$white-color;

  padding: $button-padding;

  font-size: $button-font-size;
}

.no_main_color {
  font-weight: $button-weight;
}

.cancel_button {
  background-color: $grey-light;

  padding: $button-padding;

  font-weight: $button-weight;
  font-size: $button-font-size;
}

.second_plan_button {
  background-color: $grey-date;

  padding: $button-padding;

  font-weight: $button-weight;
  font-size: $button-font-size;
  color: $white-color;
}

.bg {
  position: fixed;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: $grey-bg;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
}

.scrollbar::-webkit-scrollbar-track {
  background: none;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: $grey-date;
  border-radius: 2px;
}


html::-webkit-scrollbar {
  width: 0px;
}

.html::-webkit-scrollbar-track {
  background: none;
}

.html::-webkit-scrollbar-thumb {
  background: $grey-date;
  border-radius: 0px;
}