@import "@/scss/globals/main_values";
@import "@/scss/globals/color";

$root-width: 500px;
$button-width: 232px;

.page{
  width: 100%;
  height: 100%;

  display: grid;
  align-items: center;
  justify-items: center;
}

.root {
  width: $root-width;
  padding: $auth-padding;
}

.auth {
  display: flex;
  flex-flow: column;
  gap: $gap-l;
}

.header {
  font-size: $font-size-xxxl;

  display: grid;
  justify-content: center;
}

.form {
  display: flex;
  flex-flow: column;

  gap: $gap-xxs;

  .section_for_small_button {
    display: flex;
    justify-content: end;
  }

  .button_small {
    width: max-content;
    height: min-content;
  }

  .p {
    text-align: center;
  }

  .button_left {
    display: flex;
    justify-self: start;
  }
}

.button_section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: $gap-s;

  button {
    width: $button-width;
  }
}