@import "@/app/scss/globals/main_values";

$root-width: 500px;
$root-padding: 35px;

$auth-gap: 25px;

$form-gap: 10px;

.page {
  width: 100%;
  height: 100%;
}

.root {
  width: $root-width;

  padding: $root-padding;

  .auth {
    display: flex;
    flex-flow: column;
    gap: $auth-gap;


    .header {
      font-size: $title-auth-size;

      display: grid;
      justify-content: center;
    }

    .form {
      display: flex;
      flex-flow: column;

      gap: $form-gap;

      .section_for_small_button {
        display: flex;
        justify-content: end;
      }

      .button_small {
        width: max-content;
        height: min-content;
      }

      .p {
        text-align: center;
      }

      .button_left {
        display: flex;
        justify-self: start;
      }
    }
  }
}